@attribute [StreamRendering]
@using SteamGameTracker.Services.API
@using SteamGameTracker.Services.API.URLs
@using SteamGameTracker.ViewModels
@using System.Globalization
@inject IUrlFormatter UrlFormatter;

<div @key=ViewModel.Id class="game-item" onclick="window.open('@_gameSteamPageUrl')">
    <img src=@ViewModel.LargeCapsuleImageURL>
    <div class="game-info">
        <h3>@ViewModel.Name</h3>
        <p>@string.Join(", ", ViewModel.Genres)</p>
        @{
            var outputCurrencyString = ViewModel.Currency + " " + (ViewModel.PriceInCents / 100.0).ToString("0.00");
        }
        <span class="price">@outputCurrencyString</span>
    </div>
    <div class="game-addional-info">
        <div>
            <span class="game-player-count">@ViewModel.NumberOfCurrentPlayers</span> people playing
        </div>
        <div>
            Age required: <span class="game-age-required">@ViewModel.RequiredAge</span>
        </div>
        <div>
            This app is a <span class="game-type">@ViewModel.AppType</span>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required AppCardViewModel ViewModel { get; set; }
    private string _gameSteamPageUrl = string.Empty;

    protected override void OnInitialized()
    {
        var url = new SteamGamePageUrl(ViewModel.Id);
        _gameSteamPageUrl = UrlFormatter.GetFormattedUrl(url);

        base.OnInitialized();
    }
}