@attribute [StreamRendering]
@using SteamGameTracker.Services.API
@using SteamGameTracker.Services.API.URLs
@using SteamGameTracker.ViewModels
@using System.Globalization
@inject IUrlFormatter UrlFormatter;

<a @key=ViewModel.Id class="game-item" href="@_gameSteamPageUrl" target="_blank">
    <img src=@ViewModel.LargeCapsuleImageURL>
    <div class="game-info">
        <h3>@ViewModel.Name</h3>
        <p>@string.Join(", ", ViewModel.Genres)</p>
        <span class="price">@GetFormattedPrice(ViewModel.PriceInCents, ViewModel.Currency)</span>
    </div>
    <div class="game-addional-info">
        <div>
            <span class="game-player-count">@ViewModel.NumberOfCurrentPlayers</span> people playing
        </div>
        <div>
            Age required: <span class="game-age-required">@ViewModel.RequiredAge</span>
        </div>
        <div>
            This app is a <span class="game-type">@ViewModel.AppType</span>
        </div>
    </div>
</a>

@code {
    [Parameter, EditorRequired]
    public required AppCardViewModel ViewModel { get; set; }
    private string _gameSteamPageUrl = string.Empty;

    protected override void OnInitialized()
    {
        var url = new SteamGamePageUrl(ViewModel.Id);
        _gameSteamPageUrl = UrlFormatter.GetFormattedUrl(url);

        base.OnInitialized();
    }

    private string GetFormattedPrice(double priceInCents, string currency)
    {
        return priceInCents == 0 ? "FREE" : $"{currency} {priceInCents / 100.0:0.00}";
    }
}